.abc{
    height: 503px;
    width: 200px;
    margin: 15px;
    margin-bottom: 140px;
    float: left;
    border: 3px solid black;
    font-size: 25px;
    border-radius: 5PX;
}
.jk{
    margin: 5px;
}
.s{
    height: 45px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
}
#w{
    float: left;
    margin-top: 6px;
    font-size: 20px;
}
#c1 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}
#c2 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}
#c3 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}
#c4 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}
#c5 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}
#c6 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}
#c7 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}
#c8 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}
#c9 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}
#c10 img{
    height: 250px;
    width: 200px;
    border: 1px solid black;

}



